@using System.Security.Claims

@{
    ViewData["Title"] = "خانه";
}

<div class="border border-light">
   
    <ul class="list-group list-group-flush">
        <li class="list-group-item active" aria-current="true"> <p>شرایط و مقررات</p></li>
        <li class="list-group-item">کلیه مشخصات بطور کامل وارد شود</li>
        <li class="list-group-item">مشخصات به فارسی وارد شود(نام و نام خانوادگی از طریق منوی ویرایش مشخصات قابل تغییر است)</li>
        <li class="list-group-item">رزومه شما به عنوان معرفی در این سایت می ماند و هیچ الزامی برای تماس یا مصاحبه وجود ندارد</li>
    </ul>
</div>
<br />
<div class="d-flex align-items-center justify-content-center">
    <a class="btn-outline-info" asp-action="ResumeRegister" asp-controller="Account" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">جهت ثبت رزومه/ویرایش کلیک کنید</a>
</div>
